* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', serif;
    cursor: url(../img/cursor.cur), auto;
}

a {
    cursor: url(../img/pointer.cur), auto;
}

.header {
    background: #262423;
    background-size: cover;
    border-bottom: 4px solid #3d3938;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.main_container {
    min-height: 70vh;
    background: url(../img/header_bg.jpg) no-repeat center/cover;
    height: 82vh;
}

.discover_container {
    background: #171615;
    padding: 48px 0px 40px;
}

.newest_container {
    background: #262423;
}

.how_container {
    background: #4f1030;
}

.main {
    background: #171615;
}

.footer {
    background: #313131;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #262423;
}

.logo a {
    width: 222px;
}

.menu ul {
    display: flex;
    gap: 45px;
    list-style: none;
}

.menu a {
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Sans', serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.header_top a:hover {
    color: #1dc812;
}

.button_container a {
    display: block;
    background: #3C8527;
    border: 2px solid #52A535;
    text-decoration: none;
    font-family: 'Noto Sans', serif;
    font-size: 12px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 12px;
    width: 60px;
    height: 15px;
}

.button_container a:hover {
    background-color: #6cc349;
    color: #fff;
}

.discover_container {
    padding: 48px 60px 40px;
}

.discover_container h1 {
    font-family: 'Press Start 2P', serif;
    font-size: 56px;
    text-align: center;
    color: #fff;
    margin: 0px 0px 20px;
}

.discover_container a {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #6cc349;
    margin: 0px 0px 48px;
}

.discover_container a:hover {
    color: #fff
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: baseline;
}

.cards .cart {
    width: 100%;
}

.cart img {
    width: 100%;
    margin-bottom: 23px;
}

.minecraft img {
    width: 276px;
    height: 289px;
}

.discover_container .cart h2 {
    font-family: 'Noto Sans', serif;
    color: #fff;
}

.discover_container .cards p {
    font-size: 14px;
    line-height: 24px;
    color: #aba09c;
}

.newest_container {
    padding: 80px 72px;
}

.newest_container h2 {
    font-family: 'Press Start 2P', serif;
    font-size: 56px;
    text-align: center;
    color: #fff;
    margin: 0 0 55px;
}

.newest_container a {
    display: block;
    margin-bottom: 48px;
    text-align: center;
    font-weight: bold;
    color: #6cc349;
    text-decoration: none;
}

.newest_container a:hover {
    text-decoration: underline;
    color: #fff
}
.cart1{
    position:relative
}
.cards1 .figcaption_text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    height: 100px;
    background: rgba(23, 22, 21, .8);
    padding: 14px 7px;
}
.cards1 img:hover {
    transform: scale(1.05);
}

.cards1>div img {
    transition: 0.3s;
}

.cards1 {
    display: flex;
    align-items: center;
    gap: 40px;
    align-items: baseline;
}

.cart1 img {
    width: 259px;
    justify-content: flex-start;
}

.cart1 p {
    font-family: 'Press Start 2P', serif;
    color: #fff;
    line-height: 20px;
    font-weight: normal;
    font-size: 15px;
}

.cart1 h3 {
    display: inline-block;
    margin: 0 0 8px;
    font-size: 14px;
    font-family: 'Press Start 2P', serif;
    letter-spacing: 0.56px;
    padding: 0 4px 1px;
    text-align: center;
    box-shadow: 2px 2px 0 0 #0000004d;
    background-color: #fff;
    margin-bottom: 6px;
}

.how_container {
    padding: 80px;
    background: #4f1030;
}

.how_container h2 {
    font-family: 'Press Start 2P', serif;
    font-size: 56px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.how_container img:hover {
    transform: scale(1.05);
}

.how_container .cart2 h2 {
    font-size: 24px;
    font-family: 'Press Start 2P', serif;
    font-weight: 400;
    color: #fff;
    margin-bottom: 16px;

}
.how_container .cart2 p {
    text-align: center;
    color: #fff;
}

.cards2 {
    display: flex;
    justify-content: space-around;
}

.cart2 {
    width: 300px;
    text-align: center;
}

.how_container .cart2 img {
    width: 300px;
    height: 400px;
}

ul a {
    font-size: 24px;
    font-family: 'Noto Sans', serif;
    font-weight: 400;
}

.bottom_main_text {
    padding: 48px 0 32px;
    color: #fff;
    text-align: center;
}

.bottom_main_text p {
    display: block;
}

.footer {
    padding: 32px 24px 27px 9px;
}

.footerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1440px;
}

.footer .logoandul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}
.footer ul a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-size: 11.6px;
    color: #fff;
    font-weight: normal;
}
.footer a:hover {
    text-decoration: underline;
}